

    .stockHeading {
        font-weight: bold;
        padding: 5px;
    }

    .heatmapContainer  {
        position: relative;
        width: 100%;
        flex: 1;
        min-height: 0;

        :hover {
            border: 2px solid blue;
            border-radius: 2px;
            padding: 0;
        }

        .stockIndex {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 22px;
            overflow: hidden;

            :hover {
                opacity: 0.8;
                border: 1px solid blue;
            }
        }
    }